<div class="hero">
  <nav>
    <div class="nav-logo">
      <img src="assets/images/logo.png" alt="logo" class="logo">
    </div>
    <div class="nav-links">
      <a href="">Courses</a>
      <div>
        <a href="">Login</a>
        <a href="" class="btn-sign-up">Sign Up</a>
      </div>

    </div>
  </nav>
  <div class="content-box">
    <h1>Learn Anything <br> You Want</h1>
    <div class="search-box">
      <input type="text" placeholder="Search Any Course">
      <button type="submit"><img src="assets/images/search.png" alt=""></button>
    </div>
    <span>Millons of courses searched from</span>
  </div>
  <div class="arrow">
    <img src="assets/images/previous.png" alt="">
    <img src="assets/images/next.png" alt="">
  </div>
</div>